
.container-developer {
    border: 3px solid #ffc80054;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.developer {
    color: white;
}

.container-developer span {
    color: #00fff5;
}
